:root {
  --main-background: #f3f3f3;
  --main-text: #3b3b3b;
  --main-text-sub: #424242;

  --header-background: #f8f8f8;
  --header-border: #222;
  --header-text: var(--main-text);
  --header-text-sub: var(--main-text-sub);

  --card-background: #ffffff;
  --card-border: #111;
  --card-text: var(--main-text);
  --card-text-sub: var(--main-text-sub);

  --accent: #be00af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #2c2c2c;
    --main-text: #cccccc;
    --main-text-sub: #dddddd;
  
    --header-background: #1f1f1f;
    --header-border: #222;
    --header-text: var(--main-text);
    --header-text-sub: var(--main-text-sub);
  
    --card-background: #181818;
    --card-border: #111;
    --card-text: #eeeeee;
    --card-text-sub: #cccccc;
  
    --accent: #be00af;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  color: var(--main-text);
  background: var(--main-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 1rem;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
