@import './base.css';

a,
a:visited,
a:hover {
  color: var(--color-text);
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;

  font-weight: normal;

  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}
